<h2>Git Issues</h2>

<p *ngIf="gitIssueSelected">
  Issue ID: {{ gitIssueSelected.number }}<br/>
  Issue Title: {{ gitIssueSelected.title }}
</p>

<div>
  <app-table
      [getData]="getHomeData"
      defaultSort="created"
      (rowSelect)="homeTableOnRowSelect($event)"
      (rowUnselect)="homeTableOnRowUnselect()">
    <app-column key="created_at" label="Created">
      <ng-template let-created_at="value" #template>
        {{created_at | date}}
      </ng-template>
    </app-column>
    <app-column key="title" label="Title" [sortable]="false"></app-column>
    <app-column key="number" label="Number" [sortable]="false"></app-column>
    <app-column key="state" label="State" [sortable]="false" [hidden]="true"></app-column>
  </app-table>
</div>

<h2>Git Commits</h2>

<div>
  <app-table
      [getData]="getCommitData"
      defaultSort="committer-date"
      [allowMultiSelect]="true"
      [showCheckbox]="true">
    <app-column key="date" label="Date" [sortable]="true">
      <ng-template let-dateOfCommit="value" #template>
        {{dateOfCommit | date}}
      </ng-template>
    </app-column>
    <app-column key="author" label="Author" [sortable]="false"></app-column>
    <app-column key="message" label="Message" [sortable]="false"></app-column>
  </app-table>
</div>